---
import type { GetStaticPaths } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';

import Layout from '~/layouts/main-layout.astro';

interface Props {
    entry: CollectionEntry<'posts'>;
}

export const getStaticPaths = (async () => {
    const postsEntries = await getCollection('posts', ({ data }) => {
        return !data.draft && !data.archived;
    });
    return postsEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry }
    }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props as Props;
const { Content, headings } = await entry.render();
const formattedDate = new Intl.DateTimeFormat('en', { dateStyle: 'long' }).format(
    new Date(entry.data.publishedAt)
);
---

<Layout>
    <div
        id="progress-bar"
        class="fixed inset-x-0 top-0 h-1 origin-[0%] scale-x-0 transform bg-neutral-200"
    >
    </div>

    <h1 class="text-2xl font-semibold tracking-tighter" transition:name={`post-${entry.slug}`}>
        {entry.data.title}
    </h1>

    <div class="mb-8 mt-2 flex items-center justify-between text-sm text-neutral-400">
        <p class="text-sm">{formattedDate}</p>

        <p class="flex items-center gap-1 text-sm text-neutral-400">
            <span
                hx-get="/partials/views-counter"
                hx-trigger="load"
                hx-swap="outterHTML"
                hx-vals={JSON.stringify({ slug: entry.slug, track: true })}>--</span
            >
            views
        </p>
    </div>

    <!-- TOC -->
    <div class="rounded-xl border border-neutral-500 p-4 dark:border-neutral-700">
        <h2 class="text-lg font-semibold capitalize tracking-tighter">table of contents</h2>
        <ul class="mb-6">
            {
                headings.map(({ depth, slug, text }) => (
                    <li
                        class:list={[
                            'text-sm',
                            {
                                'ml-0': depth === 2,
                                'ml-4': depth === 3,
                                'ml-8': depth === 4
                            }
                        ]}
                    >
                        <a
                            href={`#${slug}`}
                            class="py-1 font-light text-neutral-400 transition duration-200 hover:text-white"
                        >
                            {text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <article class="prose prose-invert">
        <Content />
    </article>
</Layout>

<script>
    import { animate, scroll } from 'motion';

    scroll(animate('#progress-bar', { scale: [0, 1] }));
</script>
