---
import { getCollection, type CollectionEntry } from 'astro:content';
import readingTime from 'reading-time';

import BaseLayout from '~/layouts/BaseLayout.astro';
import ViewsCounter from '~/components/ViewsCounter.astro';
import { cn, formatDate } from '~/lib/utils';

interface Props {
    entry: CollectionEntry<'posts'>;
}

export async function getStaticPaths() {
    const postEntries = await getCollection('posts', ({ data }) => {
        return !data.draft && !data.isArchived;
    });
    return postEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry }
    }));
}

const { entry } = Astro.props as Props;
const {
    slug,
    body,
    data: { title, publishedAt, summary }
} = entry;
const readTime = readingTime(body)?.text;
const formattedDate = formatDate(publishedAt);
const { Content, headings } = await entry.render();
---

<BaseLayout title={title} description={summary}>
    <section>
        <div
            id="progress-bar"
            class="fixed inset-x-0 top-0 h-1 origin-[0%] scale-x-0 transform bg-neutral-200"
        >
        </div>
        <h1 class="text-2xl font-bold tracking-tighter" transition:name={title}>
            {title}
        </h1>
        <div class="mb-8 mt-2 flex items-center justify-between text-sm text-neutral-400">
            <p class="text-sm" transition:name={'date:' + formattedDate}>
                {formattedDate}
            </p>
            <hr />
            <p class="space-x-2">
                <ViewsCounter slug={slug} />
                <span>•</span>
                <span transition:name={'readTime:' + readTime}>{readTime}</span>
            </p>
        </div>

        <!-- TOC -->
        <h2 class="text-2xl font-semibold">On this page</h2>
        <ul class="mb-6">
            {
                headings.map(({ depth, slug, text }) => (
                    <li
                        class={cn({
                            'ml-0': depth === 2,
                            'ml-4': depth === 3,
                            'ml-8': depth === 4
                        })}
                    >
                        <a
                            href={`#${slug}`}
                            class="py-1 font-light text-neutral-400 transition duration-200 hover:text-white"
                        >
                            {text}
                        </a>
                    </li>
                ))
            }
        </ul>

        <!-- Content -->
        <article class="prose prose-invert prose-quoteless">
            <Content />
        </article>
        <a href="/blog" class="mt-6 flex items-center gap-1 text-end opacity-80 hover:opacity-100">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-left"
                ><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg
            >
            <span>Go back</span>
        </a>
        <hr class="my-8 border-neutral-500/50" />
    </section>
</BaseLayout>

<script>
    import { animate, scroll } from 'motion';

    scroll(animate('#progress-bar', { scale: [0, 1] }));
</script>
