---
import { type CollectionEntry, getCollection } from 'astro:content';
import clsx from 'clsx';
import { format } from 'date-fns';
import readingTime from 'reading-time';
import { ClockIcon, EyeOpenIcon } from '@radix-ui/react-icons';

import MainLayout from '~/layouts/MainLayout.astro';
import BackLink from '~/shared/components/BackLink.astro';
import { TOC, ViewsCounter, ProgressBar } from '~/shared/components/jsx';

interface Props {
	entry: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props as Props;
const { Content, headings } = await entry.render();
const { slug, data } = entry;

const readTime = readingTime(entry.body);
const formattedDate = format(new Date(data.publishedDate), 'MMMM dd, yyyy');

export const prerender = true;
---

<MainLayout>
	<ProgressBar client:load />
	<div class="lg:relative">
		<div class="mx-auto max-w-2xl">
			<BackLink href="/blog" />

			<!-- Post Content -->
			<article>
				<header class="flex flex-col mb-6">
					<h1
						class={clsx(
							'my-6 text-4xl font-bold tracking-tight text-zin-800',
							'dark:text-zinc-100 sm:text-5xl'
						)}
					>
						{data.title}
					</h1>
					<time
						datetime={data.publishedDate}
						class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500"
					>
						<span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
						<span class="ml-3">{formattedDate}</span>
					</time>

					<!-- Cover Image -->
					<!-- TODO: use a better Image component -->
					<div class="aspect-h-[1.25] aspect-w-2 md:aspect-w-3 md:aspect-h-2">
						<img src={data?.coverImage} alt={data?.title} class="rounded-2xl" />
					</div>
					<!-- <Image src={data?.coverImage} alt={data?.title} styles="rounded-2xl" /> -->

					<!-- Post Meta -->
					<div class="flex items-center gap-3 bg-zinc-200 dark:bg-zinc-700 p-3 my-3 rounded-2xl">
						<p class="flex items-center pr-3 border-r border-zinc-400 dark:border-zinc-500 gap-2">
							<ClockIcon width={16} height={16} />

							<span class="text-sm">{readTime?.text}</span>
						</p>
						<p class="flex items-center gap-2">
							<EyeOpenIcon width={16} height={16} />

							<ViewsCounter client:load slug={slug as string} />
						</p>
					</div>
				</header>

				<!-- Post Content -->
				<TOC headings={headings} />
				<div class="prose dark:prose-invert">
					<Content />
				</div>
			</article>
		</div>
	</div>
</MainLayout>
