---
import BlogPostLayout from '~/layouts/BlogPostLayout.astro';
import Link from '~/shared/components/Link.astro';

import { getAllPosts, getPostBySlug } from 'notion/client';
import { format } from 'date-fns';
import NotionBlocks from '~/shared/components/svelte/NotionBlocks.svelte';

const { slug } = Astro.params;

const post = await getPostBySlug(slug as string);
const { title, publishedDate, readingTime, coverImage, type, views, summary } = post.page;
const formattedDate = format(new Date(publishedDate), 'MMMM dd, yyyy');
// const toc =
// 	post.pageBlocks.results[0]?.type === 'table_of_contents' ? post.pageBlocks.results[0] : null;
console.log('POST: ', post);
// console.log('TOC', toc);
---

<BlogPostLayout>
	<div class="grid grid-cols-1 md:grid-cols-[auto,300px] gap-6 my-10">
		<article>
			<span class="inline-flex items-center bg-surface-three rounded-full px-3 py-1 text-sm gap-2"
				><span class="w-2 h-2 bg-brand-accent rounded-full"> </span>{type}</span
			>
			<h1 class="mb-3">{title}</h1>
			<img class="rounded-lg" src={coverImage} alt={title} />

			<!-- Summary block -->
			<div class="p-4 my-3 rounded-lg bg-surface-four">
				<p class="mb-2">
					<span class="font-semibold">Summary:</span>
					<span class="font-serif italic">↬ {summary}</span>
				</p>
				<div class="flex items-center gap-3 text-font-two">
					<p class="flex items-center pr-3 border-r gap-2">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
							></path>
						</svg>

						<span>{formattedDate}</span>
					</p>
					<p class="flex items-center pr-3 border-r gap-2">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
						</svg>

						<span>{readingTime} min read</span>
					</p>
					<p class="flex items-center gap-2">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="w-6 h-6"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
							></path>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
						</svg>

						<!-- <ViewCounter client:load slug={slug as string} /> -->
					</p>
				</div>
			</div>

			<!-- Post content -->
			<NotionBlocks blocks={post.pageBlocks.results} />
		</article>
		<aside>
			<div class="divide-y divide-surface-three space-y-6">
				<div class="flex items-center gap-4">
					<img
						src="https://ik.imagekit.io/l5swuiqdn/tr:r-max/profile-pic.jpeg?tr:w-100,h-100"
						alt="profile pic"
						class="w-14 h-14 rounded-full"
					/>
					<div class="flex flex-col">
						<h3 class="text-2xl font-bold">Sergio Barria</h3>
						<p class="text-font-two">Software Engineer</p>
					</div>
				</div>
				<div class="flex flex-col pt-6 text-font-two space-y-3">
					<div class="flex items-center justify-between gap-6">
						<span>Published:</span>
						<span>{formattedDate}</span>
					</div>
					<div class="flex items-center justify-between gap-6">
						<span>Read Time:</span>
						<span>{readingTime} minutes read</span>
					</div>
					<div class="flex items-center justify-between gap-6">
						<span>Views:</span>
						<span> views</span>
					</div>
				</div>
				<div class="flex flex-col text-font-two pt-6">
					<div class="flex items-center justify-between gap-6">
						<span>Share:</span>
						<span> Share icons</span>
					</div>

					<div class="mt-3 ml-auto">
						<Link url="/blog">Return to all posts</Link>
					</div>

					<hr class="border-surface-three my-6" />
				</div>
			</div>
		</aside>
	</div>
</BlogPostLayout>

<!-- ---
import type { MDXInstance } from 'astro';

import BlogPostLayout from '~/layouts/BlogPostLayout.astro';

import { getSlugFromFilePath } from '~/shared/utils/helpers';
import type { Post } from './_utils';

interface Props {
	post: MDXInstance<Post>;
}

export async function getStaticPaths() {
	const allPosts = await Astro.glob<Post>('../../content/blog/*.mdx');

	return allPosts.map((post) => ({
		params: {
			slug: getSlugFromFilePath(post.file),
		},
		props: { post },
	}));
}

const { slug } = Astro.params;
const {
	post: { frontmatter, Content, getHeadings },
} = Astro.props as Props;
---

<BlogPostLayout frontmatter={frontmatter} slug={slug as string} headings={getHeadings()}>
	<Content />
</BlogPostLayout> -->
