---
import type { MDXInstance, Page } from 'astro';
import clsx from 'clsx';

import NextIcon from '../icons/NextIcon.astro';
import PrevIcon from '../icons/PrevIcon.astro';
import type { Post } from '~/shared/utils/blogPostsHelpers';

interface PaginatorProps {
	page: Page<MDXInstance<Post>>;
}

const {
	page: { url, lastPage, currentPage, size },
} = Astro.props as PaginatorProps;
const pagesArr = Array.from({ length: lastPage }, (_, i) => i + 1);
---

<div class="flex items-center justify-center">
	<div class="flex items-center space-x-3">
		<a
			href={url.prev}
			class={clsx(
				'flex items-center space-x-1 md:space-x-3 py-1',
				'bg-neutral-500 rounded-md px-2 md:px-4',
				{
					'opacity-50 cursor-not-allowed line-through': !url.prev,
				}
			)}
		>
			<PrevIcon />
			<span>Prev {size}</span>
		</a>
		<div class="flex items-center px-4 py-2 space-x-2">
			{
				pagesArr.map((page) => {
					const href = page === 1 ? '/blog' : `/blog/${page}`;

					return (
						<a
							href={href}
							class={clsx(
								'flex items-center space-x-1 md:space-x-3 py-1',
								'bg-neutral-500 rounded-md px-2 md:px-4 transform',
								{
									'bg-accent scale-[1.05] cursor-not-allowed': page === currentPage,
								}
							)}
						>
							{page}
						</a>
					);
				})
			}
		</div>
		<a
			href={url.next}
			class={clsx(
				'flex items-center space-x-1 md:space-x-3 py-1',
				'bg-neutral-500 rounded-md px-2 md:px-4',
				{
					'opacity-50 cursor-not-allowed line-through': !url.next,
				}
			)}
		>
			<span>Next {size}</span>
			<NextIcon />
		</a>
	</div>
</div>
