---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import readingTime from 'reading-time'

import BaseLayout from '@/layouts/BaseLayout.astro'
import ArrowUpRightIcon from '@/components/ArrowUpRightIcon.astro'
import { formatDate } from '@/lib/utils'
import { getAllPostsViews } from '@/lib/planetscale'
import { getStargazersCount } from '@/lib/github'
import profile from '@/assets/profile-2.png'
import HomeIcons from '@/components/HomeIcons.astro'

import config from '@/config'

const { socials } = config

const postsEntries = await getCollection('posts', ({ data }) => {
    return !data.draft && !data.isArchived
})
const posts = postsEntries
    .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime())
    .slice(0, 3)
const allViews = await getAllPostsViews()
const totalViews = allViews.reduce((acc, curr) => acc + curr.views, 0)
const stargazersCount = await getStargazersCount()
---

<BaseLayout>
    <div class="space-y-10">
        <section id="hero">
            <h1 class="text-2xl font-bold md:text-3xl">Sergio Barria</h1>
            <p class="text-sm text-neutral-400">
                developer, engineer and amateur writer
            </p>
            <p class="mt-3">
                Hey there!, I&apos;m Sergio, a civil engineer from Panama turn
                into web developer. I work as a full stack developer building
                web and mobile apps, mostly around the <strong
                    >JavaScript</strong
                > ecosystem.
            </p>

            <div class="my-6 flex items-center gap-6 md:flex-row">
                <Image
                    src={profile}
                    alt="profile"
                    width={100}
                    height={100}
                    class="aspect-square rounded-full bg-black object-cover grayscale"
                />

                <div class="space-y-2 text-neutral-400">
                    <p class="flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-github h-5 w-5"
                            ><path
                                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
                            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
                        >
                        {stargazersCount} GitHub stars
                    </p>
                    <p class="mb-3 flex items-center gap-3">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-trending-up h-5 w-5"
                            ><polyline points="22 7 13.5 15.5 8.5 10.5 2 17"
                            ></polyline><polyline points="16 7 22 7 22 13"
                            ></polyline></svg
                        >
                        {totalViews} total posts views
                    </p>

                    <div class="flex gap-4 text-xs">
                        {
                            socials.map(({ name, url }) => (
                                <a
                                    href={url}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="flex items-center gap-1"
                                >
                                    <span>{name}</span>
                                    <ArrowUpRightIcon className="w-3 h-3" />
                                </a>
                            ))
                        }
                    </div>
                </div>
            </div>
            <HomeIcons />
            <p class="mt-8">
                Welcome to my small space of the internet, where I write and
                share about different topics related to the web. I&apos;m
                constantly exploring new technologies, currently focusing on
                improving my knowledge with:{' '}
                <strong>Django</strong>, <strong>MySQL</strong>, and other tools
                for web development.
            </p>
        </section>

        <section id="latest-articles">
            <h2 class="mb-3 text-xl font-semibold md:text-2xl lg:text-3xl">
                Latest Articles
            </h2>

            {
                posts.map(({ data, slug, body }) => {
                    const { title, publishedAt } = data
                    const formattedDate = formatDate(publishedAt)
                    const readTime = readingTime(body)?.text
                    const views =
                        allViews.find(post => post.slug === slug)?.views ?? 0

                    return (
                        <a
                            href={`/blog/${slug}`}
                            class="group flex justify-between border-b border-neutral-600 py-3"
                        >
                            <div>
                                <h3 class="font-semibold group-hover:opacity-80">
                                    {title}
                                </h3>
                                <p class="flex gap-2 text-xs opacity-90">
                                    <span>{formattedDate}</span>
                                    <span>•</span>
                                    <span>{views} views</span>
                                    <span>•</span>
                                    <span>{readTime}</span>
                                </p>
                            </div>
                            <div>
                                <ArrowUpRightIcon />
                            </div>
                        </a>
                    )
                })
            }
        </section>
    </div>
</BaseLayout>
